<?xml version="1.0" encoding="utf-8" ?>
<jsonrpc-optlog>
  <dictBizObjectTypes>
    <add key="Auth_Application" name="授权-应用程序" />    
  </dictBizObjectTypes>
  <dictBizOperationTypes>
    <add key="Create" name="创建" />
    <add key="Update" name="更新" />
    <add key="Delete" name="删除" />
  </dictBizOperationTypes>
  <methods>
    <!--
      method:                 JsonRpc 服务 method
      bizObjectType:          业务对象类型
      bizOperationType:       业务操作类型
      bizObjectIdExpression:  业务对象编号值，用 Json 对象的表达式描述如何获取值。
                              a) 来自请求数据，它将参数表示为数组形式，
                              第 1 参数即为数组下村，如方法 string hello(Entity entity, int id)，
                              如 [0].Address.City 表示参数entity对象的Address属性的City属性值。
                              如 [1] 则表示参数id的值。
                              b) 来自返回数据，需要以 $result 为关键字，它代表返回的数据变量
                              如 $result.Address.City。
      operationDesc:          操作概要描述，并且可以包含 Json 表达式，表达式写法同前面的 
                              bizObjectIdExpression 一样， 但需要用花括号包起来，如
                              {[0].Address.City}
    -->
  </methods>
</jsonrpc-optlog>
