<?xml version="1.0" encoding="utf-8" ?> 
<jsonrpc>
  <serviceAssemblies>
    <add assembly="CommonService" domain="CommonService" methodMode="allPublic" />
    <!--<add assembly="YZ.Mall.SSL.Service" domain="MallSSLService" methodMode="allPublic" />
    <add assembly="YZ.Mall.Common.Service" domain="MallCommonService" methodMode="allPublic" />
    <add assembly="YZ.Mall.Central.Service" domain="MallCentralService" methodMode="allPublic" />
    <add assembly="YZ.Mall.Tender.Service" domain="MallTenderService" methodMode="allPublic" />
    <add assembly="YZ.JC.OperationMgt.Service" domain="OperationService" methodMode="allPublic" />
    <add assembly="YZ.AuthCenter.AuthService.Service" domain="AuthService" methodMode="allPublic" />-->
    <!--<add assembly="YZ.Mall.Product.Service" domain="MallProductService" methodMode="allPublic" />-->
  </serviceAssemblies>
</jsonrpc>
