<?xml version="1.0" encoding="utf-8" ?>
<!--
    handlePointMethod: 配置要调用的积分服务。
    injectMethod: 要被拦截的服务，涉及积分业务的服务。
    
    表达式支持的变量有：
      [0]：请求的服务的方法参数s
      $result： 执行后返回的对象。
      $method： 被拦截的方法名称
      $jsonRequest： 请求的JsonRpc原始数据
      $jsonResponse： 返回的JsonRpc原始数据
-->
<inject>
  
  <!--<group name="Point" handleMethod="WorkerMgtService.PointService.InjectHandler">
    <add injectMethod="WorkerMgtService.WorkerService.LoadWorkerMaster" handleMethod="">
      <param name="method" expr="$method"/>
      <param name="workerSysNo" expr="[0]"/>
      <param name="idCardType" expr=""/>
      <param name="idCardNumber" expr="" />
    </add>
  </group>-->

  <!--<group name="BusinessLog" handleMethod="WorkerMgtService.PointService.Log">
    <add injectMethod="WorkerMgtService.WorkerService.LoadWorkerMaster" handleMethod="">
      <param name="request" expr="$jsonRequest"/>
      <param name="response" expr="$jsonResponse"/>
    </add>
  </group>-->

  <!--<group name="SubPub">
    <add handleMethod="WorkerMgtService.WorkerService.UpdateWorkerProjectHistoryTeam">
      <param name="ProjectMgtService.TeamMemberService.InsertTeamMember" expr="[0]"/>
    </add>
  </group>-->

</inject>