<?xml version="1.0" encoding="utf-8" ?>
<MessageResource>
  <MessageList>
    <Message name="Res_Company_Name">XXX有限公司</Message>
    <Message name="Res_Company_Address">XX路X楼X号 </Message>
    <Message name="Res_Company_Phone">010-88888888 </Message>
    <Message name="Res_Company_Url">http://www.company-domain.com </Message>
    <Message name="Res_Creater_Name">xxx网</Message>
    <Message name="Error_UserInfoAccountLengthTooLarge">对不起，帐号的字符不能超过20位!</Message>
    <Message name="Error_UserInfoAccountExists">对不起，帐号[{0}]已经存在了，不能重复使用！</Message>
  </MessageList>
</MessageResource>